/gen
/bin
build

*.iml
.DS_Store
.settings
android-support-v4.jar
/proguard
com_crashlytics_export_strings.xml
crashlytics-build.properties
/test_servers

.idea/
.gradle/
local.properties
gradle.properties
a**/class_files.txt
a**/mapping.txt
app/seeds.txt
/wear/build
